apiVersion: v1
data:
  calico.yml: |
    ---
    # Source: tigera-operator/templates/tigera-operator/02-serviceaccount-tigera-operator.yaml
    apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: tigera-operator
      namespace: default
    imagePullSecrets:
      []
    ---
    # Source: tigera-operator/templates/tigera-operator/02-role-tigera-operator.yaml
    # Permissions required when running the operator for a Calico cluster.
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      name: tigera-operator
    rules:
      - apiGroups:
          - ""
        resources:
          - namespaces
          - pods
          - podtemplates
          - services
          - endpoints
          - events
          - configmaps
          - secrets
          - serviceaccounts
        verbs:
          - create
          - get
          - list
          - update
          - delete
          - watch
      - apiGroups:
          - ""
        resources:
          - resourcequotas
        verbs:
          - list
          - get
          - watch
      - apiGroups:
          - ""
        resources:
          - resourcequotas
        verbs:
          - create
          - get
          - list
          - update
          - delete
          - watch
        resourceNames:
          - calico-critical-pods
          - tigera-critical-pods
      - apiGroups:
          - ""
        resources:
          - nodes
        verbs:
          # Need to update node labels when migrating nodes.
          - get
          - patch
          - list
          # We need this for Typha autoscaling
          - watch
      - apiGroups:
          - rbac.authorization.k8s.io
        resources:
          - clusterroles
          - clusterrolebindings
          - rolebindings
          - roles
        verbs:
          - create
          - get
          - list
          - update
          - delete
          - watch
          - bind
          - escalate
      - apiGroups:
          - apps
        resources:
          - deployments
          - daemonsets
          - statefulsets
        verbs:
          - create
          - get
          - list
          - patch
          - update
          - delete
          - watch
      - apiGroups:
          - apps
        resourceNames:
          - tigera-operator
        resources:
          - deployments/finalizers
        verbs:
          - update
      - apiGroups:
          - operator.tigera.io
        resources:
          - '*'
        verbs:
          - create
          - get
          - list
          - update
          - patch
          - delete
          - watch
      - apiGroups:
        - networking.k8s.io
        resources:
        - networkpolicies
        verbs:
          - create
          - update
          - delete
          - get
          - list
          - watch
      - apiGroups:
        - crd.projectcalico.org
        resources:
        - felixconfigurations
        verbs:
        - create
        - patch
        - list
        - get
        - watch
      - apiGroups:
        - crd.projectcalico.org
        resources:
        - ippools
        - kubecontrollersconfigurations
        - bgpconfigurations
        verbs:
        - get
        - list
        - watch
      - apiGroups:
          - scheduling.k8s.io
        resources:
          - priorityclasses
        verbs:
          - create
          - get
          - list
          - update
          - delete
          - watch
      - apiGroups:
          - policy
        resources:
          - poddisruptionbudgets
        verbs:
          - create
          - get
          - list
          - update
          - delete
          - watch
      - apiGroups:
          - apiregistration.k8s.io
        resources:
          - apiservices
        verbs:
          - list
          - watch
          - create
          - update
      # Needed for operator lock
      - apiGroups:
          - coordination.k8s.io
        resources:
          - leases
        verbs:
          - create
          - get
          - list
          - update
          - delete
          - watch
      - apiGroups:
          - storage.k8s.io
        resources:
          - csidrivers
        verbs:
          - list
          - watch
          - update
          - get
          - create
          - delete
      # Add the appropriate pod security policy permissions
      - apiGroups:
          - policy
        resources:
          - podsecuritypolicies
        resourceNames:
          - tigera-operator
        verbs:
          - use
      - apiGroups:
          - policy
        resources:
          - podsecuritypolicies
        verbs:
          - get
          - list
          - watch
          - create
          - update
          - delete
    # Add the permissions to monitor the status of certificatesigningrequests when certificate management is enabled.
      - apiGroups:
          - certificates.k8s.io
        resources:
          - certificatesigningrequests
        verbs:
          - list
          - watch
    ---
    # Source: tigera-operator/templates/tigera-operator/02-rolebinding-tigera-operator.yaml
    kind: ClusterRoleBinding
    apiVersion: rbac.authorization.k8s.io/v1
    metadata:
      name: tigera-operator
    subjects:
    - kind: ServiceAccount
      name: tigera-operator
      namespace: default
    roleRef:
      kind: ClusterRole
      name: tigera-operator
      apiGroup: rbac.authorization.k8s.io
    ---
    # Source: tigera-operator/templates/tigera-operator/02-tigera-operator.yaml
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: tigera-operator
      namespace: default
      labels:
        k8s-app: tigera-operator
    spec:
      replicas: 1
      selector:
        matchLabels:
          name: tigera-operator
      template:
        metadata:
          labels:
            name: tigera-operator
            k8s-app: tigera-operator
        spec:
          nodeSelector:
            kubernetes.io/os: linux
          tolerations:
            - effect: NoExecute
              operator: Exists
            - effect: NoSchedule
              operator: Exists
          serviceAccountName: tigera-operator
          hostNetwork: true
          # This must be set when hostNetwork is true or else the cluster services won't resolve
          dnsPolicy: ClusterFirstWithHostNet
          containers:
            - name: tigera-operator
              image: quay.io/tigera/operator:v1.29.0
              imagePullPolicy: IfNotPresent
              command:
                - operator
              volumeMounts:
                - name: var-lib-calico
                  readOnly: true
                  mountPath: /var/lib/calico
              env:
                - name: WATCH_NAMESPACE
                  value: ""
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: OPERATOR_NAME
                  value: "tigera-operator"
                - name: TIGERA_OPERATOR_INIT_IMAGE_VERSION
                  value: v1.29.0
              envFrom:
                - configMapRef:
                    name: kubernetes-services-endpoint
                    optional: true
          volumes:
            - name: var-lib-calico
              hostPath:
                path: /var/lib/calico
    ---
    # Source: tigera-operator/templates/crs/custom-resources.yaml
    apiVersion: operator.tigera.io/v1
    kind: APIServer
    metadata:
      name: default
    spec:
      {}
    ---
    # Source: tigera-operator/templates/crs/custom-resources.yaml
    apiVersion: operator.tigera.io/v1
    kind: Installation
    metadata:
      name: default
    spec:
      imagePullSecrets: []
      kubernetesProvider: ""
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: calico-addon
